*
body {
  background-color: lightblue;
  font-size: 30px;
  text-indent: 100px;
}

h1 {
  color: white;
  text-indent: 100px;
}

p {
  font-family: calibri;
  font-size: 30px;
  text-indent: 100px;
}
ul{
  text-indent: 100px;
}