*
body {
  margin-top: 100px;
  background-color: lightblue;
  font-size: 30px;
}

h1 {
  color: white;
  text-indent: 100px;
  font-size: 50px;
  font-style: italic;
}

h2 {
  font-family: calibri;
  text-indent: 100px;
  font-size: 30px;
}

ul {
  text-indent: 100px;
  font-size: 30px;
}