body{
  margin-top: 1.8%;
  margin-right: 26.1%;
  margin-left: 26.1%;
  margin-bottom: 1.8%;

}

h1 {
  font-family: neue haas grotesk, arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: black;
}

h2 {
  font-family: Bodoni MT, Times New Roman,serif; 
  font-weight: medium;
  font size: 16px;
  color: black;
  line-height: 30px;
  }

h3 {
  font-family: Arial;
  font-size: 15px;
  color: black;
  line-height: 17px;
}

p {
  font-family: arial;
  font-size: 15px;
  font color: black;
  line-height: 17px;
}
.flexbox-container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  background-color: lightblue;
  }

.flexbox-container img {
  width: 100%;
  position: relative;
  
 }

.header {
  width: 60%;
  padding-top: 17.5px;
  margin-bottom: 0;
  
  }

.h2 h2{
  width: 80%;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  
}


.column {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  }

.column1, .column2 {
  flex: 1;
  width: 40%;
  display: inline-flex;
  }


@media screen and (max-width: 320px) {
  .flexbox-container, .column{
      flex-direction: column;
  }
  }

 .footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer .url .pnum {
  flex: 1;
  width: calc(100% * (1/2) - 200px - 1px) ;
}

.pnum{
  align-items: right;
}

@media (max-width: 400px) {
  .footer {
    display: block;
    .url .pnum{
      width: 100%;
      margin: 0 0 30px 0;
    }
  