@media screen and (max-width: 479px) {
  .paragraph {
    padding: 10px 20px;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
  }

  .columns {
    margin-right: 10px;
    margin-left: 32px;
  }

  .column {
    height: 160px;
    padding-left: 25px;
  }

  .heading {
    margin-left: 32px;
    color: #707070;
    font-size: 20px;
    line-height: 20px;
  }

  .heading-2 {
    font-size: 20px;
  }

  .heading-3 {
    font-size: 20px;
  }

  .heading-4 {
    font-size: 20px;
    line-height: 20px;
  }

  .heading-5 {
    font-size: 20px;
    line-height: 20px;
  }

  .heading-6 {
    font-size: 20px;
    line-height: 20px;
  }

  .heading-7 {
    font-size: 20px;
    line-height: 20px;
  }

  .paragraph-2 {
    margin-right: 90px;
    margin-left: 54px;
    color: #707070;
    font-size: 16px;
    line-height: 21px;
  }

  .paragraph-3 {
    margin-right: 85px;
    margin-left: 63px;
    color: #707070;
    line-height: 21px;
  }

  .paragraph-4 {
    margin-right: 90px;
    margin-left: 54px;
    color: #707070;
    font-size: 16px;
    line-height: 21px;
  }

  .paragraph-5 {
    margin-right: 85px;
    margin-left: 63px;
    color: #707070;
    line-height: 21px;
  }

  .button {
    margin-left: 215px;
    padding-left: 15px;
    background-color: #000;
    color: #fff;
    text-align: right;
  }

  .paragraph-6 {
    margin-right: 85px;
    margin-left: 54px;
    color: #707070;
    line-height: 21px;
  }

  .paragraph-7 {
    padding-left: 54px;
    color: #707070;
    font-size: 16px;
    line-height: 21px;
  }

  .text-block {
    margin-right: 38px;
    margin-left: 54px;
    color: #707070;
  }

  .link {
    color: #707070;
  }

  .link-2 {
    color: #707070;
  }

  .link-3 {
    color: #707070;
  }

  .link-4 {
    color: #707070;
  }

  .link-5 {
    color: #707070;
  }

  .paragraph-8 {
    margin-right: 35px;
    margin-left: 54px;
    color: #707070;
    line-height: 21px;
  }

  .paragraph-9 {
    margin-right: 35px;
    padding-left: 54px;
    color: #707070;
    line-height: 21px;
  }

  .columns-2 {
    margin-right: 35px;
    margin-left: 54px;
  }

  .column-2 {
    margin-bottom: 10px;
    padding-left: 0px;
  }

  .paragraph-10 {
    color: #707070;
  }
}