body{
  width: 320px;
  margin-left: 32px;
  margin-right: 90px;
}
header {
  font-family: proxima-soft, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: #707070;
  display: flex;
  align-content: right;
  justify-content: right;
  margin-left: 239px;
}
a.link{
  color: #707070;
  background-color: transparent;
  text-decoration: none;
}

.menu {
  font-family: proxima-soft, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #707070;
  display: flex;
  justify-content: center;
  align-content: left;
  flex-direction: column;
  margin-left: 22px;
  margin-right: 3px;
  width: 100%;
  padding: 0px;
  }

div {
  font-family: proxima-soft, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #707070;
  margin-left: 22px;
}

h1 {
  font-family: proxima-soft, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: #707070;
  }

.flex{
  display: flex;
  justify-content: center;
  align-content: left;
  flex-direction: column;
  padding-left: 10px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  }

.nav {
  display: flex;
  align-content: left;
}

.navmenu{
  flex: 30%;
}
.navphoto{
  flex: 70%;
}

 
