body {
  width: 320px;
  margin: 10px;
}

p{
  background-color: black;
  color: white;
  font-family: proxima-soft, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding: 10px;
 }
 
header {
  font-family: proxima-soft, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: #707070;
}

a.link {
  color: #707070;
  background-color: transparent;
  text-decoration: none;
}

.menu {
  font-family: proxima-soft, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #707070;
  padding-left: 20px;
  padding-right: 20px;
  }

div {
  font-family: proxima-soft, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #707070;
  padding-left: 20px;
  padding-right: 20px;
  
}

h1 {
  font-family: proxima-soft, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  padding-left: 10px;
  color: #707070;
}

.flex {
  display: flex;
  justify-content: center;
  align-content: left;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
  margin-left: 20px;
}

.nav {
  display: flex;
  flex-grow: 0;
  justify-content: left;
  width: 320px;
  margin: 0;
  align-items: center;
  align-content: center;
 }

.column {
  flex: 1;
  align-content: left;
}
.button {
  background-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
